.CreatePostFrom {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 10px 30px;
  border: 1px solid #54348323;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 0 auto;
}

.CreatePostFrom label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.CreatePostFrom input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.CreatePostFrom input[type="url"] {
  font-style: italic;
}

.CreatePostFrom .uploadImg {
  width: 150px;
  margin-bottom: 16px;
}

.CreatePostFrom button {
  margin-right: 20px;
}
