.HomeFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.loadingDiv {
  margin: 20px;
}

.HomeFeed .searchBar {
  display: flex;
  height: 10%;
  color: black;
  border-radius: 10px;
  border: 1px solid #212529;
  transition: transform 0.3s ease-in-out;
  padding: 5px 20px;
  text-align: center;
}

.HomeFeed .searchDiv {
  position: relative;
}

.HomeFeed .fa-solid {
  position: absolute;
  top: 20%;
  left: 4%;
  font-size: large;
}

.HomeFeed .introContainer {
  margin: 20px;
  text-align: center;
}

.HomeFeed .introContainer code {
  color: #ffc107;
  font-style: italic;
  font-size: 15px;
}

.HomeFeed .introContainer .title {
  color: #6f42c1;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
}

.HomeFeed .introContainer .element-style-type {
  color: hsl(153 60% 53%);
  font-style: normal;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .searchBar:hover {
    transform: scale(1.05);
  }
}
