.PostDetails {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 10px 30px;
  border: 1px solid #54348323;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 0 auto;
}

.PostDetails .postDetailsNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.PostDetails .previousPage {
  color: #28a745;
  font-size: 20px;
}

.PostDetails .postTime {
  font-style: italic;
  font-size: small;
}

.PostDetails .postTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3f0071;
}

.PostDetails .postContent {
  font-size: 14px;
}

.PostDetails .postImage {
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 250px;
  margin-top: 20px;
}
