.Card {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  border: 1px solid #54348323;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 20px 0;
}

.Card a {
  color: #533483;
  font-weight: bold;
}

.Card p {
  color: #533483;
  font-style: italic;
  font-size: smaller;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .Card:hover {
    transform: scale(1.02);
  }
}
