.Header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 10px;
  background-color: #6f42c1;
  margin-bottom: 50px;
}

.Header ul {
  display: flex;
}

.Header li {
  margin-left: 10px;
  text-decoration: underline;
  color: white;
}

.Header h1,
a {
  color: white;
}

.signOut,
.signIn {
  color: black;
  background-color: aliceblue;
  width: 100px;
  border-radius: 20px;
  margin-left: 10px;
}

.signIn a {
  color: black;
}

@media screen and (min-width: 768px) {
  .signOut:hover,
  .signIn:hover {
    background-color: hsl(153 60% 53%);
    transition: 0.4s;
    color: black;
  }
}
