/* * {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 11%;
  padding-bottom: 7%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #a460ed;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 10%;
}

.websiteTitle {
  margin-left: 10%;
  font-size: 1.3rem;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #533483;
} */
