/* resets */
body,
h1,
h2,
ul,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* 
Primary Color: Deep Purple (#6F42C1) - for header and primary elements.
Secondary Color: Light Gray (#E9ECEF) - for background and cards.
Accent Color: Lime Green (#28A745) - for buttons and interactive elements.
Text Color: Dark Gray (#212529) - for readability
*/

body {
  font-family: "Source Code Pro", monospace;
  color: #212529;
  background-color: rgb(253, 255, 255);
}

button,
input[type="submit"] {
  background-color: #28a745;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 5px;
  padding: 5px 20px;
  color: #212529;
}

button:hover {
  background-color: #6f42c1;
  color: white;
  transition: color 0.5s ease;
}

input {
  font-family: "Source Code Pro", monospace;
  color: #212529;
}

input,
textarea:focus {
  outline: none;
}
